/**
 * Общие стили элементов
 */

body {
    font-family: sans-serif;
    font-size: 11px;
    color: #333;
    background-color: #eee;
    margin: 7px 0 10px auto;
}

a {
    color: #cc9400;
}

a:hover {
    color: #e2a400;
}

h1 { font-size: 17px; margin: 10px 0px; }
h2 { font-size: 15px; margin: 9px 0px; }
h3 { font-size: 13px; margin: 8px 0px; }

/**
 * Стили контейнеров
 */

section,
header,
article,
footer,
nav
{
    display: block;
    outline: 0px solid red;
}

div.container {
    width: 1000px;
    margin: 0 auto;
    background-color: #fff;

    border-radius: 20px;
    border: 1px solid #eee;
    box-shadow: 0 1px 3px #ddd;

    position: relative;
}

div.container > header,
div.container > article,
div.container > footer {
}

div.container > footer {
    padding: 20px 15px;
}

div.container > header > div,
div.container > article > section,
div.container > footer > div {
    outline: 0px solid red;
}

div.container > header > div {
    text-align: center;
    position: relative;
}

div.container > header > div > figure {
    padding: 25px 0 10px;
}

div.container > header > div > figure > img {
    cursor: pointer;
}

div.container > header > div > nav {
    position: absolute;
    top: 60px;
    left: 135px;
    width: 111px;
    overflow: hidden;
    background-color: #efefef;
    text-align: left;
    padding: 10px 25px;

    border-radius: 20px;
    border: 1px solid #eee;
}

div.container > header > div > nav > ul {
    margin: 0;
    padding: 3px;
    list-style: none;
}

div.container > header > div > nav > ul > li {
    margin: 2px;
    padding: 4px;
}

div.container > header > div > nav > ul > li > a {
    text-decoration: none;
}

div.container > header > div > nav > ul > li > a:hover {
    text-decoration: underline;
}

div.container > article > section {
    padding: 0 50px 10px;
}

div.container > footer > div {
    outline: 0px solid green;
}

.copyrights {
    font-size: 11px;
}

.copyrights a {
    font-size: 11px;
}

/**
 * Спецальные стили
 */

.centered {
    text-align: center;
}

.all-projects {
    text-align: center;
    overflow: hidden;
}

.all-projects h1 {
    font-size: 16px;
}

.all-projects ul {
    overflow: hidden;
    float: left;
    margin-top: 2px;

    margin-left: 14%;
}

.all-projects ul li {
    overflow: hidden;
    float: left;
    padding: 5px 15px;
    margin: 1px 2px;
    list-style-position: inside;
}

.debugger-pre-place {
    background-color: #efefef;
    padding: 5px 10px;
    font-size: 11px;
}
