/**
 * Общие стили элементов
 */

body {
    font-family: sans-serif;
    font-size: 12px;
    color: #333333;
    background-color: #eeeeee;
    margin: 7px 0 10px auto;
}

a {
    color: #cc9400;
}

a:hover {
    color: #e2a400;
}

h1 { font-size: 17px; margin: 10px 0px; }
h2 { font-size: 15px; margin: 9px 0px; }
h3 { font-size: 13px; margin: 8px 0px; }

ul {
    margin: 3px 0;
    padding: 0;
    list-style-position: inside;
    }
    ul li {
        padding: 0;
        margin: 0;
}

/**
 * Стили контейнеров
 */

section, header, article, footer, nav {
    display: block;
    outline: 0px solid red;
}

div.container > header > div {
    text-align: center;
    position: relative;
}

div.container > header > div > figure {
    padding: 25px 0 10px;
}

div.container > header > div > figure > img {
    cursor: pointer;
}

.copyrights {
    font-size: 11px;
}

.copyrights a {
    font-size: 11px;
}

.centered {
    text-align: center;
}

.debugger-pre-place {
    background-color: #efefef;
    padding: 5px 10px;
    font-size: 11px;
}

/**
 * Специальные стили
 */

.container {
    width: 800px;
    margin: 0 auto;
    padding: 10px 20px;
    background-color: #ffffff;

    border-radius: 20px;
    border: 1px solid #eeeeee;
    box-shadow: 0 1px 3px #dddddd;

    position: relative;

    font-size: 12px;
}

.container footer {
    margin: 16px 0 6px;
}

.project-type {
    margin: 10px auto;
    padding: 5px 10px;
    background-color: #eeeeee;

    border-radius: 10px;
    border: 1px solid #cccccc;
    box-shadow: 0 1px 3px #dddddd;

    position: relative;
    }
    div.empty {
        margin: 10px 0;
        padding: 2px 5px;
        outline: 1px solid #cccccc;
    }

    .project-type h1 {
        font-size: 16px;
    }
    .project-type h2 {
        font-size: 14px;
    }

    .project-type .description-inner {
        padding: 3px 1px 4px;
    }

    ul.projects-list {
        margin: 2px 0 10px 2px;
        padding: 0;
        list-style-position: inside;
        }
        ul.projects-list li {
            padding: 0;
            margin: 5px 0;
            }
        .portfolio ul.projects-list li {
            padding: 0;
            margin: 10px 0 10px;
            }
            .portfolio ul.projects-list li small {
                color: #000000;
                background-color: #ffffff;
                margin: 0 2px 0 7px;
                padding: 0 2px 0 5px;
                font-size: 11px;
            }
            .portfolio ul.projects-list li span {
                font-size: 11px;
            }
            .portfolio span.green {
                color: green;
            }
            .portfolio span.red {
                color: red;
            }
            ul.projects-list li a {
                text-decoration: none;
            }
            ul.projects-list li div.comments {
                margin: 3px auto 3px;
                padding: 5px 7px;
                border: 1px solid #cccccc;
                border-radius: 5px;
                font-size: 12px;
                background-color: #dddddd;
            }
            ul.projects-list li div.project-info-link {
                width: 30px;
                cursor: pointer;
                position: relative;
                display: inline;
            }
            ul.projects-list li div.project-info {
                display: none;
                position: absolute;
                width: 500px;
                margin: 0;
                padding: 5px 10px;
                left: 10px;
                top: -6px;
                border: 1px solid #dddddd;
                border-radius: 5px;
                background-color: #ffffff;
                z-index: 1;
            }
            ul.projects-list li div.project-info-link:hover {
                color: #cc9400;
            }
            ul.projects-list li div.project-info-link:hover > div.project-info {
                display: block;
            }
            ul.projects-list li div.project-info ul {
                margin: 3px 0;
                padding: 0;
                list-style-position: inside;
                list-style-type: disc;
                }
                ul.projects-list li div.project-info ul li {
                    padding: 0;
                    margin: 0;
                    line-height: 12px;
}

.top-line {
    overflow: hidden;
    }
    .top-line h1 {
        display: block;
        margin: 14px 10px 5px;
        float: left;
    }
    .top-line ul {
        display: block;
        float: right;
        margin: 7px 100px 6px 0;
        padding: 7px 12px;
        list-style-position: inside;
        background-color: #eeeeee;
        border: 1px solid #cccccc;
        border-radius: 5px;
        }
        .top-line ul li {
            float: left;
            margin: 0 10px;
            padding: 0;
            }
            .top-line ul li a {
                color: #333333;
                text-decoration: none;
}

.project-type blockquote {
    color: #bbbbbb;
    }
    .project-type blockquote p {
        margin: 2px;
}
.project-type:hover blockquote {
    color: #666666;
}
.project-type .legend {
    position: absolute;
    right: 10px;
    background-color: #ffffff;
    font-size: 11px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    padding: 4px 10px;
    top: 10px;
    box-shadow: 2px 3px 10px #aaaaaa;
}

/**
 * Переопределение стилей для Toasty
 */

.toasty_toastMsg {
    background-color: #ffffff;
    border-radius: 5px;
    width: auto;
    white-space: pre-line;
}
.toasty_toastMsg .toasty_autoHideTimer {
    background-color: #cccccc;
}
.toasty_message {
    width: 250px;
    margin: 6px;
    padding: 5px 12px 1px;
    white-space: nowrap;
}
